craft-batch28-sapi-prod/src/main/mule/api-impl.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="STUDENT" doc:id="5f233f2a-f7de-4dad-8f0f-9718d0b2abb7" >
		<logger level="INFO" doc:name="FLOW START" doc:id="54576655-d03f-496e-ab56-a15bd448e585" message='#["Flow Start::" ++ now()]'/>
		<set-variable value="#[attributes.localAddress]" doc:name="Set Variable" doc:id="adb9881d-cf3d-4109-a248-84f160a8f4d7" variableName="LocalIP"/>
		<db:select doc:name="SELECT_STUDENT_DATA" doc:id="a9f8442b-c5dd-4f1e-8ce0-65c4979ef131" config-ref="Main_DATABASE_CONFIG">
			<db:sql ><![CDATA[SELECT * FROM tb_student]]></db:sql>
		</db:select>
		<choice doc:name="Choice" doc:id="0acfe0f5-9ea3-486f-8e1f-3d08dadb2c67" >
			<when expression="#[sizeOf(payload) == 0]">
				<ee:transform doc:name="Transform Message" doc:id="555a848f-89e5-4fed-bce4-54d2ce043d21" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"Msg": "Database is Empty!"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="faf360ec-168b-4c41-bf7f-1a564fefc2e6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Craft Student API": {
	"Local IP": vars.LocalIP,
	"Student List": payload
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>
